body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  form {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

	.logout-button {
		background-color: #f00;
		color: #fff;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
	}

	.row:hover {
		background-color: rgb(114, 114, 114);
		border: 2px solid;
	}

	#reviews {
		position: absolute;
		background-color: rgb(0, 0, 0);
		border: 2px, solid;
		padding: 10px;
		display: none;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 5px
	}

	.review {
		border: 2px solid white;
		height: 100px;
		width: 150px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 5px;
	}
